body {
    background-color: black;
}

p, h1, h2, h3, h4, h5, h6, sub, ol, li, code {
    color: white;
}

.button {
    color: white;
}

a {
    color: gray;
    text-decoration: none;
}

.badge-new {
  background-color: #FFF;
  color: #000;
}

.unread-count {
    background-color: #FFF;
    color: #000;
  }