body {
    background-color: black;
}

p, h1, h2, h3, h4, h5, h6, sub, ol, li, code {
    color: white;
}

.button {
    color: white;
}

/* invert image colors in dark theme */
img {
   filter: invert(1);
}

a {
    color: gray;
    text-decoration: none;
}

.dialog {
  background: black;
}

.badge-new {
    background-color: #FFF;
    color: #000;
}

.unread-count {
    background-color: #FFF;
    color: #000;
}

.form-label {
    color: #FFF;
}

.form-input {
    color: #FFF;
}

.rect-btn {
    color: #FFF;
}

