* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    font-family: Calibri, Helvetica, Sans-Serif;
}

main {
    display: flex;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 5px;
}

.content {
    width: 100%;
}

.content::-webkit-scrollbar { width: 0 !important }


.toolbar {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.button {
    border: 2px solid;
    font-size: 16pt;
    background-color: transparent;
    border-radius: 100%;
    margin: 5px 0;
    padding: 10px;
    min-width: 45px;
    min-height: 45px;
    text-align: center;
}

button:focus {
    outline: none;
}

.section-header {
    display: flex;
    align-items: center;
    border-bottom: 1px lightgrey solid;
}

.section-header-buttons {
    margin-left: auto;
}

#middle-space-toolbar {
    height: 100%;
}
