* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    font-family: Calibri, Helvetica, Sans-Serif;
}

main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 5px;
}

img {
    max-width: 90%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content::-webkit-scrollbar { width: 0 !important }


.toolbar {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    flex-shrink: 0;
}

.button {
    border: 2px solid;
    font-size: 16pt;
    background-color: transparent;
    border-radius: 100%;
    margin: 5px 0;
    padding: 10px;
    min-width: 45px;
    min-height: 45px;
    text-align: center;
}

button:focus {
    outline: none;
}

.section-header {
    display: flex;
    align-items: center;
    border-bottom: 1px lightgrey solid;
}

.section-header-buttons {
    margin-left: auto;
}

#middle-space-toolbar {
    height: 100%;
}

p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 5px;
}

sub {
    font-family: Calibri, Helvetica, Sans-Serif;
    margin: 0;
}

.list {
    overflow: auto;
    padding: 8px;
}

.list::-webkit-scrollbar { width: 0 !important }

.list h1,
.list h2,
.list h3,
.list h4,
.list h5,
.list h6 {
    margin: 5px;
}

.body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.body::-webkit-scrollbar { width: 0 !important }

