body {
    background-color: light-grey;
}

p, h1, h2, h3, h4, h5, h6, ol, li, code {
    color: black;
}

.button {
    color: black;
}

a {
    color: #666;
    text-decoration: none;
}

.badge-new {
  background-color: #000;
  color: #FFF;
}

.unread-count {
    background-color: #000;
    color: #FFF;
  }

  .form-label {
    color: #000;
  }
  
  .form-input {
    color: #000;
  }

  .rect-btn {
    color: #000;
  }