<html>
    <head>
        {% include "common_head" %}
        <link rel="stylesheet" href="/static/css/article.css">
        <link rel="stylesheet" href="/static/css/article_list.css">
    </head>
    <body>
        <main class="main">
            <div class="content">
                <div id="header">
                    <h1> {{ feed.title }} </h1>
                    <hr/>
                </div>
                <div id="body" class="body">
                    {% if not article_data.html_parsed %}
                    <h1> {{ article_data.title }} </h1>
                    {% endif %}

                    {{ article }}
                </div>
            </div>
            {% include "toolbar" %}
        </main>
    </body>
</html>
