<html>
    <head>
        {% include "common_head" %}
        <link rel="stylesheet" href="/static/css/article_list.css">
    </head>
    <body>
        <main>
            <div>
                <h1> {{ feed.title }} </h1>
                <hr/>
                <div id="article" class="article-list">
                    {% for item in articles %}
                    <a href="/feed/{{feed.id}}/article/{{item.id}}">
                        <h2> {{ item.title }} </h2>
                        <div style="display: flex; justify-content: space-between; padding: 0 5px;">
                            <sub> {{ item.author }} </sub>
                            <sub> {{ item.last_updated }} </sub>
                        </div>
                        <hr/>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% include "toolbar" %}
        </main>
    </body>
</html>
