<html>
    <head>
        {% include "common_head" %}
    </head>
    <body>
        <main class="main">
            <div class="content">
                <div id="header" class="section-header">
                    <h1> {{ context.feed.title }} </h1>
                    <div class="section-header-buttons">
                        <a href="#" id="confirmDeletion">
                            <i class="fa fa-trash button" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div id="body" class="list">
                    {% for item in context.articles %}
                    <a href="/feed/{{context.feed.id}}/article/{{item.id}}">
                        <div style="display: flex; justify-content: space-between; padding: 0 5px;">
                            <h2> {{ item.title }} </h2>
                            {% if not item.read %} <div> <span class="badge-new">Unread</span> </div>{% endif %}
                        </div>
                        <div style="display: flex; justify-content: space-between; padding: 0 5px;">
                            <sub> {{ item.author }} </sub>
                            <sub> {{ item.date }} </sub>
                        </div>
                        <hr/>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% include "toolbar" %}
        </main>
        <script>
            function Confirm(title, msg, trueText, falseText, link) {
            var content = document.createElement('div');
            content.className = 'dialog-ovelay';
            content.innerHTML = `
                <div class='dialog'>
                <header>
                    <h2> ${title}</h2>
                </header>
                <div class='dialog-msg'>
                    <h3>${msg}</h3>
                </div>
                <footer>
                    <div class='controls'>
                    <button class='rect-btn doAction'>${trueText}</button>
                    <button class='rect-btn cancelAction'>${falseText}</button>
                    </div>
                </footer>
                </div>
            `;
            document.body.prepend(content);

            document.querySelector('.doAction').addEventListener('click', function () {
                fetch(link, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                    window.location.href = '/';
                    } else {
                    alert('Failed to delete the feed.');
                    }
                })
                .catch(error => {
                    alert('An error occurred: ' + error.message);
                });
                content.remove();
            });

            document.querySelector('.cancelAction').addEventListener('click', function () {
                content.remove();
            });
            }
        
            document.getElementById('confirmDeletion').addEventListener('click', function (event) {
            event.preventDefault();
            Confirm('Delete Feed', 'Are you sure you want to delete this feed?', 'Yes', 'Cancel', "/feed/{{ context.feed.id }}");
            });
        </script>
    </body>
</html>
