<html>
    <head>
        {% include "common_head" %}
    </head>
    <body>
        <main class="main">
            <div class="content">
                <div id="header" class="section-header">
                    <div style="display: flex; align-items: center;">
                        {% if context.feed.favicon_url %}
                            <img src="{{ context.feed.favicon_url }}" width="24" height="24" style="margin-right: 10px; border-radius: 3px;" />
                        {% else %}
                            <img src="/static/images/default_favicon.png" width="24" height="24" style="margin-right: 10px; border-radius: 3px; opacity: 0.5;" />
                        {% endif %}
                        <h1> {{ context.feed.title }} </h1>
                    </div>
                </div>
                <div id="body" class="body">
                    {% if not context.article_data.html_parsed %}
                    <h1> {{ context.article_data.title }} </h1>
                    {% endif %}


                    {{ context.article }}
                </div>
            </div>
            {% include "toolbar" %}
        </main>
    </body>
</html>
