<html>
    <head>
        {% include "common_head" %}
    </head>
    <body>
        <main class="main">
            <div class="content">
                <div id="header" class="section-header">
                    <div style="display: flex; align-items: center;">
                        {% if context.feed.favicon_url %}
                            <img src="{{ context.feed.favicon_url }}" width="24" height="24" style="margin-right: 10px; border-radius: 3px;" />
                        {% else %}
                            <img src="/static/images/default_favicon.png" width="24" height="24" style="margin-right: 10px; border-radius: 3px; opacity: 0.5;" />
                        {% endif %}
                        <h1> {{ context.feed.title }} </h1>
                    </div>
                    <div class="section-header-buttons">
                        <a href="#" id="confirmDeletion" onclick="showDialog();">
                            <i class="fa fa-trash button" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div id="body" class="list">
                    {% for item in context.articles %}
                    <a href="/feed/{{context.feed.id}}/article/{{item.id}}">
                        <div style="display: flex; justify-content: space-between; padding: 0 5px;">
                            <h2> {{ item.title }} </h2>
                            {% if not item.read %} <div> <span class="badge-new">Unread</span> </div>{% endif %}
                        </div>
                        <div style="display: flex; justify-content: space-between; padding: 0 5px;">
                            <sub> {{ item.author }} </sub>
                            <sub> {{ item.date }} </sub>
                        </div>
                        <hr/>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% include "toolbar" %}
        </main>

        {% with
            title="Delete Feed",
            message="Are you sure you want to delete this feed?",
            true_text="Yes",
            false_text="Cancel",
            action_url="/feed/" ~ context.feed.id,
            sucess_url="/",
            method="DELETE"
        %}
            {% include "dialog" %}
        {% endwith %}
    </body>
</html>
