<link rel="stylesheet" href="/static/css/font-awesome.min.css?v={{version}}">
<link rel="stylesheet" href="/static/css/general.css?v={{version}}">
<link rel="stylesheet" href="/static/css/dark_theme.css?v={{version}}" class="alternate" {% if not config.dark_theme %} disabled="true" {% endif %}>
<link rel="stylesheet" href="/static/css/light_theme.css?v={{version}}" class="alternate" {% if config.dark_theme %} disabled="true" {% endif %}>
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png"> <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/static/images/site.webmanifest">
<script type="text/javascript">
    var scrollPosition = 0;
    var bodyDiv = null;
    var offsetNotScroll = null;
    var darkTheme = {{ config.dark_theme }};
    var zoom = {{ config.zoom }};
    var zoomStep = 0.1;


    window.onpageshow = function(event) {
        if (sessionStorage.getItem("refresh")) {
          sessionStorage.removeItem("refresh");
          location.reload();
        }
    };

    window.onload = function onLoad() {
        bodyDiv = document.getElementById("body");
        offsetNotScroll = Math.round(bodyDiv.offsetHeight * 0.1);

        let headerHeight = document.getElementById("header").offsetHeight;
        bodyDiv.style.height = `calc(100vh - ${headerHeight}px - 20px)`;

        let toolbarWidth = document.getElementById("toolbar").offsetWidth;
        bodyDiv.style.maxWidth = `calc(100vw - ${toolbarWidth}px)`;

        bodyDiv.style.zoom = zoom;
        darkTheme = {{ config.dark_theme }};
    }

    function removeGhostLettersInit() {
        if (darkTheme) {
            document.getElementById("body").classList.add("all-white");
        }
    }

    function removeGhostLettersFinish() {
        setTimeout(function() {
            if (darkTheme) {
                document.getElementById("body").classList.remove("all-white");
            }
        }, 10);
    }

    function scrollDown() {
        removeGhostLettersInit();
        scrollPosition = Math.min(scrollPosition + bodyDiv.offsetHeight - offsetNotScroll, bodyDiv.scrollHeight);
        bodyDiv.scroll(0, scrollPosition);
        removeGhostLettersFinish();
    }

    function scrollUp() {
        removeGhostLettersInit();
        scrollPosition = Math.max(scrollPosition - bodyDiv.offsetHeight + offsetNotScroll, 0);
        bodyDiv.scroll(0, scrollPosition);
        removeGhostLettersFinish();
    }

    function scrollToTop() {
        removeGhostLettersInit();
        scrollPosition = 0;
        bodyDiv.scroll(0, scrollPosition);
        removeGhostLettersFinish();
    }

    function scrollToBottom() {
        removeGhostLettersInit();
        scrollPosition = bodyDiv.scrollHeight - bodyDiv.offsetHeight;
        bodyDiv.scroll(0, scrollPosition);
        removeGhostLettersFinish();
    }

    function setZoomConfig(zoom) {
        fetch("/config/zoom", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams({ zoom })
        });
    }

    function zoomIn() {
        zoom += zoomStep;
        bodyDiv.style.zoom = zoom;

        setZoomConfig(zoom);
    }

    function zoomOut() {
        zoom -= zoomStep;
        bodyDiv.style.zoom = zoom;

        setZoomConfig(zoom);
    }

    function toggleTheme() {
        document
          .querySelectorAll('link[rel=stylesheet].alternate')
          .forEach(function (node) { node.disabled = !node.disabled; });

        let toggleThemeButton = document.getElementById("toggleThemeButton");

        if (darkTheme) {
            toggleThemeButton.classList.remove("fa-sun-o");
            toggleThemeButton.classList.add("fa-moon-o");
        } else {
            toggleThemeButton.classList.remove("fa-moon-o");
            toggleThemeButton.classList.add("fa-sun-o");
        }

        document.querySelectorAll("img.alternate").forEach(function (node) {
            if (node.style.display === "none") {
                node.style.display = "";
            } else {
                node.style.display = "none";
            }
        });

        darkTheme = !darkTheme;

        fetch("/config/dark_theme", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams({ dark_theme: darkTheme })
        });
    }

    // When going back, we need to refresh the page because the browser uses the cached version anyways
    function back() {
        sessionStorage.setItem("refresh", "true");
        window.history.back();
    }

    function home() {
        sessionStorage.setItem("refresh", "true");
        window.location = '/';
    }
</script>
