<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/general.css">
<link rel="stylesheet" href="/static/css/dark_theme.css" class="alternate" disabled="true">
<link rel="stylesheet" href="/static/css/light_theme.css" class="alternate">
<!-- script type="text/javascript" src="/static/js/article_controls.js"></script-->
<script type="text/javascript">
var scrollPosition = 0;
var bodyDiv = null;
var offsetNotScroll = null;
var darkTheme = false;
var zoom = 1.0;
var zoomStep = 0.1;


    window.onload = function onLoad() {
        bodyDiv = document.getElementById("body");
        offsetNotScroll = Math.round(bodyDiv.offsetHeight * 0.1);

        let headerHeight = document.getElementById("header").offsetHeight;
        bodyDiv.style.height = `calc(100vh - ${headerHeight}px - 20px)`;

        let toolbarWidth = document.getElementById("toolbar").offsetWidth;
        bodyDiv.style.maxWidth = `calc(100vw - ${toolbarWidth}px)`;
    }

function scrollDown() {
    scrollPosition = Math.min(scrollPosition + bodyDiv.offsetHeight - offsetNotScroll, bodyDiv.scrollHeight);
    console.log("Down", scrollPosition);
    bodyDiv.scroll(0, scrollPosition);
}

function scrollUp() {
    scrollPosition = Math.max(scrollPosition - bodyDiv.offsetHeight + offsetNotScroll, 0);
    console.log("Up", scrollPosition);
    bodyDiv.scroll(0, scrollPosition);
}

function scrollToTop() {
    scrollPosition = 0;
    bodyDiv.scroll(0, scrollPosition);
}

function scrollToBottom() {
    scrollPosition = bodyDiv.scrollHeight - bodyDiv.offsetHeight;
    bodyDiv.scroll(0, scrollPosition);
}

function zoomIn() {
    zoom += zoomStep;
    bodyDiv.style.zoom = zoom;
}

function zoomOut() {
    zoom -= zoomStep;
    bodyDiv.style.zoom = zoom;
}

function toggleTheme() {
    document
      .querySelectorAll('link[rel=stylesheet].alternate')
      .forEach(function (node) { node.disabled = !node.disabled; });

    let toggleThemeButton = document.getElementById("toggleThemeButton");

    if (!darkTheme) {
        toggleThemeButton.classList.remove("fa-moon-o");
        toggleThemeButton.classList.add("fa-sun-o");
    } else {
        toggleThemeButton.classList.remove("fa-sun-o");
        toggleThemeButton.classList.add("fa-moon-o");
    }

    darkTheme = !darkTheme;
}
</script>
