<html>
    <head>
        {% include "common_head" %}
    </head>
    <body>
        <main class="main">
            <div class="content">
                <div id="header" class="section-header">
                    <img src="/static/images/logo.webp" height="45px" class="alternate" {% if config.dark_theme %} style="display: none;" {% endif %} />
                    <img src="/static/images/logo_dark.webp" height="45px" class="alternate" {% if not config.dark_theme %} style="display: none;" {% endif %} />
                    <h1> Feed list </h1>
                    <div class="section-header-buttons">
                        <a href="/feed/add">
                            <i
                                id="scrollUpButton"
                                class="fa fa-plus button"
                                aria-hidden="true">
                            </i>
                        </a>
                    </div>
                </div>
                <div id="body" class="list">
                    {% for feed in context.feeds %}
                        <a href="feed/{{ feed.id }}">
                            <div style="display: flex; justify-content: space-between; padding: 0 5px; align-items: center;">
                                <div style="display: flex; align-items: center;">
                                    {% if feed.favicon_url %}
                                        <img src="{{ feed.favicon_url }}" width="20" height="20" style="margin-right: 10px; border-radius: 3px;" />
                                    {% else %}
                                        <img src="/static/images/default_favicon.png" width="20" height="20" style="margin-right: 10px; border-radius: 3px; opacity: 0.5;" />
                                    {% endif %}
                                    <h3>{{ feed.title }}</h3>
                                </div>
                                <div>
                                    {% if feed.unread_count > 0 %}
                                        <span class="unread-count">{{ feed.unread_count }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <hr/>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% include "toolbar" %}
        </main>
    </body>
</html>
