<html>
    <head>
        {% include "common_head" %}
        <link rel="stylesheet" href="/static/css/article_list.css">
        <link rel="stylesheet" href="/static/css/article.css">
    </head>
    <body>
        <main class="main">
            <div class="content">
                <div class="section-header">
                    <h1> Feed list </h1>
                    <div class="section-header-buttons">
                        <a href="/feed/add">
                            <i
                                id="scrollUpButton"
                                class="fa fa-plus button"
                                aria-hidden="true">
                            </i>
                        </a>
                    </div>
                </div>
                <div id="article" class="article-list">
                    {% for feed in feeds %}
                    <a href="feed/{{ feed.id }}">
                        <h3> {{ feed.title }} </h3>
                        <hr/>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% include "toolbar" %}
        </main>
    </body>
</html>
