<html>
    <head>
        {% include "common_head" %}
        <link rel="stylesheet" href="/static/css/article_list.css">
        <link rel="stylesheet" href="/static/css/article.css">
    </head>
    <body>
        <main>
            <div class="content">
                <h1> Feed list </h1>
                <hr/>
                <div id="article" class="article-list">
                    {% for feed in feeds %}
                    <a href="feed/{{ feed.id }}">
                        <h3> {{ feed.title }} </h3>
                        <hr/>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% include "toolbar" %}
        </main>
    </body>
</html>
