<html>
    <head>
        {% include "common_head" %}
    </head>
    <body>
        <main class="main">
            <div class="content">
                <div class="section-header">
                    <h1> Add new feed </h1>
                </div>

                <div class="body">
                    <form action="/feed/add" method="POST" class="feed-form">
                        <div class="form-group">
                            <label for="url-input" class="form-label">Enter RSS or Atom feed URL:</label>
                            <input type="url" id="url-input" name="url" placeholder="https://example.com/feed.xml" required class="form-input">
                        </div>
                        <div class="form-submit">
                            <button type="submit" class="rect-btn">Add Feed</button>
                        </div>
                    </form>
                </div>
            </div>
            {% include "toolbar" %}
        </main>
    </body>
</html>
