<div id="toolbar" class="toolbar">
    <i id="homeButton" class="fa fa-home button" onclick="home(); return false;" aria-hidden="true"></i>
    <i id="backButton" class="fa fa-angle-double-left button" onclick="back(); return false;" aria-hidden="true"></i>
    <i
        id="toggleThemeButton"
        class="fa {% if config.dark_theme %} fa-sun-o {% else %} fa-moon-o {% endif %} button"
        onclick="toggleTheme()"
        aria-hidden="true">
    </i>
    <i id="zoomInButton" class="fa fa-search-plus button" onclick="zoomIn()" aria-hidden="true"></i>
    <i id="zoomOutButton" class="fa fa-search-minus button" onclick="zoomOut()" aria-hidden="true"></i>
    <div id="middle-space-toolbar"></div>
    <i id="scrollToTopButton" class="fa fa-angle-double-up button" onclick="scrollToTop()" aria-hidden="true"></i>
    <i id="scrollUpButton" class="fa fa-chevron-up button" onclick="scrollUp()" aria-hidden="true"></i>
    <i id="scrollDownButton" class="fa fa-chevron-down button" onclick="scrollDown()" aria-hidden="true"></i>
    <i id="scrollBottomButton" class="fa fa-angle-double-down button" onclick="scrollToBottom()" aria-hidden="true"></i>
</div>
